body{
  margin: 0;
  height: 100%;
  font-family: Lato, Arial, sans-serif;
}

.container{
  display: grid;
  grid-template: 100% / 20em 5fr;
}

.menu{
  display: grid;
  grid-template-rows: 1fr repeat(2, 3fr);
  padding: 1em;
  background-color: #233141;
  color: #fff;
  /* box-shadow: 3px 0px 5px 1px #0008; */
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20em;
}

.menu-title{
  display: flex;
  align-items: center;
  font-size: 1.5em;
  
}
.text-video{
  color: indianred;
}

.playlist{
  align-self: start;
  display: grid;
  grid-template: 2em 1fr/ 1fr;
   gap: 1em
}
.playlist-title{
  align-self: center;
  font-size: 1.125em;
}

.playlist ol{ 
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: center;
}

.songs{
  margin: .5em 0;
  display: grid;
  grid-template: 1fr / 2em 1fr;
}

.songs span{
  margin-right: 1em;
}
.songs a{
  text-decoration: none;
  color: #fff;
}
.songs a:hover{
  color: #e26868;
}

.friends{
  align-self: start;
  display: grid;
  grid-template: 2em 1fr / 1fr;
  gap: 1em;
}

.friends-title{
  font-size: 1.125em;
  align-self: center;
}
.friends-title p {
  margin: 0;
}

.friend-playlist{
  align-self: center;
}

.each-friend{
  display: grid;
  grid-template: 1fr / 4em 1fr;
  margin: 1em 0;
}

.each-friend img{
  width: 2.5em;
  margin: 0;
  border-radius: 4em;;
}

.each-friend span{
  align-self: center;
}






