body{
  margin: 0;
  height: 100%;
  font-family: Lato, Arial, sans-serif;
}

p{
  margin: 0;
}

.container{
  display: grid;
  grid-template: 100% / 23em 5fr;
  grid-template-areas: "menu principal";
}

.menu{
  grid-area: menu;
  display: grid;
  grid-template-rows: 1fr repeat(2, 3fr);
  gap: 1em;
  padding: 1em 1em 1em 2em;
  background-color: #233141;
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20em;
}

.menu-title{
  display: flex;
  align-items: center;
  font-size: 1.5em;
  
}
.text-video{
  color: indianred;
}

.playlist{
  align-self: start;
  display: grid;
  grid-template: 2em 1fr/ 1fr;
  gap: 1em
}
.playlist-title{
  align-self: center;
  font-size: 1.125em;
}

.playlist ol{ 
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: center;
}

.songs{
  margin: 1em 0;
  display: grid;
  grid-template: 1fr / 2em 1fr;
}

.songs span{
  margin-right: 1em;
}
.songs a{
  text-decoration: none;
  color: #fff;
}
.songs a:hover{
  color: #e26868;
}

.friends{
  align-self: start;
  display: grid;
  grid-template: 2em 1fr / 1fr;
  gap: 1em;
}

.friends-title{
  font-size: 1.125em;
  align-self: center;
}

.friend-playlist{
  align-self: center;
}

.each-friend{
  display: grid;
  grid-template: 1fr / 4em 1fr;
  margin: .5em 0;
  padding: .5em 0;
  width: 95%;
}

.each-friend:hover{
  background:#1a2531;
  cursor: pointer;
}

.each-friend img{
  width: 2.5em;
  height: 2.5em;
  object-fit: cover;
  margin: 0;
  border-radius: 4em;;
}

.each-friend span{
  align-self: center;
}

.principal{
  grid-area: principal;
  display: grid;
  grid-template: 45vh 10em 1fr / 1.2fr 1fr;
  grid-template-areas: "video video"
                       "description description"
                       "comments suggestions";
}

.video{
  grid-area: video;
  width: 100%;
}

.video iframe{
  width: 100%;
  height: 100%;
}

.description{
  grid-area: description;
  padding: 1em;
  box-shadow: 0 .2em 3px 1px #dadada;
  display: grid;
  grid-template: repeat(3, 1fr) / 12em 1fr 2fr;
  grid-template-areas: "title title title"
                       "views views views"
                       "button links tags";
}

.description-title{
  grid-area: title;
  font-size: 1.25em;
  display: flex;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
}

.views{
  grid-area: views;
  display: flex;
  margin: 0;
  justify-content: flex-start;
  align-items: flex-start;
  color: gray;
}

.button{
  grid-area: button;
  align-self: center;
}

.add-list{
  display: flex;
  font-size: 1em;
  font-family: Lato, sans-serif;
  padding:0;
  cursor: pointer;
  width: 10em;
  height: 2.5em;
  border-radius: .8em;
  border: 1px solid #fff;
  background-color: indianred;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.add-list:hover{
  color: indianred;
  background-color: #fff;
  border: 1px solid indianred;
}

.add-list:focus{
  outline: none;
}

.links{
  grid-area: links;
  align-self: center;
  display: flex;
  padding: 0 1em;
}

.links a{
  font-size: 1.25em;
  text-decoration: none;
  color: #375674;
  margin: 0 1em;
  text-align: center;
}

.links a:hover{
  color: #00152b;
}

.links p{
  font-family: Lato, sans-serif;
  font-size: .75em;
  margin-top: .5em;
}

.tags{
  grid-area: tags;
  display: flex;
  align-items: center;
}

.tags a {
  font-size: .75em;
  text-decoration: none;
  margin: 0 1em;
  color: #fff;
  padding: 0 .8em;
  border-radius: 1em;
  height: 2em;
  width: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag1{
  border: 1px solid #fff; 
  background-color: #9c61cc;
}
.tag1:hover{
  color: #9c61cc;
  background: #fff;
  border: 1px solid #9c61cc;
}
.tag2{ 
  border: 1px solid #fff;
  background-color: #57aa4e;
}
.tag2:hover{ 
  color: #57aa4e;
  background: #fff;
  border: 1px solid #57aa4e;
}
.tag3{ 
  border: 1px solid #fff;
  background-color: #ccba13;
}
.tag3:hover{ 
  color: #ccba13;
  background: #fff;
  border: 1px solid #ccba13;
}
.tag4{ 
  border: 1px solid #fff;
  background-color: #445dac;
}
.tag4:hover{ 
  color: #445dac;
  background: #fff;
  border: 1px solid #445dac;
}

.comments{
  grid-area: comments;
  display: grid;
  grid-template-rows: 3em 6em 1fr;
  padding: 1em 2em;
}

.comments-title{
  font-size: 1.125em;
  align-self: center;
}

.user-input{
  position: relative;
  display: flex;
  align-items: center;
}

.add-comment{
  padding: 0  3.5em;
  margin: 0;
  font-size: 1em;
  width: 90%;
  height: 2.8em;
  background: #f0f0f0;
  border-radius: .5em;
  border: 1px solid #f0f0f0;
  
  box-sizing: border-box;
}

.add-comment:hover{
  box-shadow: 0px 1.5px 2px 2px #e0e0e0;
}

.add-comment:focus{
  outline: none;
  box-shadow: 0px 1.5px 2px 2px #e0e0e0;
}

.user-img{
  margin: 0;
  position: absolute;
  top: 2em;
  left: .7em;
}

.user-img img{
  width: 2em;
  border-radius: 1em;
}

.users-image{
  display: grid;
  grid-template: 1.5em 1fr /5em 1fr;
  grid-template-areas: "img name"
                       "img comment";
  margin:1em 0;
}

.users-image img{
  grid-area: img;
  width: 3.125em;
  height: 3.125em;
  object-fit: cover;
  border-radius: 3em;
  align-self: center;
  justify-self: start;
}

.users-image span{
  grid-area: name;
  font-weight: bold;
}

.users-image p{
  grid-area: comment;
  width: 90%;
}

.suggestions{
  grid-area: suggestions;
  display: grid;
  grid-template: 3em 1fr / 1fr;
  padding: 1em 2em;
}

.suggestions-title{
  font-size: 1.125em;
  align-self: center;
  justify-self: center;
}

.suggestion-each{
  display: grid;
  grid-template: 15em 1fr / 20em;
  align-content: center;
  justify-content: center;
  margin: 1.6em 0;
}

.suggestions-images{
  margin: 0;
  cursor: pointer;
  box-shadow: 0px 3px 5px 1px #aaa;
  border-radius: 1em; 
}

.suggestions-images:active{
  box-shadow: none;
}

.suggestions-images img{
  width: 20em;
  height: 15em;
  object-fit: cover;
  border-radius: 1em;
}

.suggestions-name{
  margin-top: 1em;
  cursor: pointer;
}






